#MainMenu {
    visibility: hidden;
}

#WSElogo {
    transition: transform .5s ease-in-out;
    height: 4ex;
    filter: drop-shadow(0 0 0.15ex #666);
}


/* interfers with busy rotation!
#WSElogo:not(.rotating):hover {
    transform: rotate(720deg) scale(1.333);
} */

.app_logo {
    width: 66%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating {
  animation: spin 0.66s linear infinite;
}